html {
    scroll-behavior: smooth;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    line-height: 60px;
    color: #121212;
    width: 100%;
    background-color: #000;
}

/*+ это меню навигации*/
.header__logo {
    left: 9px;
    bottom: 4px;
    position: absolute;
    box-sizing: border-box;
    width: 109px;
    font-size: 43px;
}
.header__logo-box {
    position: relative;
    background-color: #000;
    border-radius: 50px;
    width: 130px;
    height: 39px;
}
.header__nav {
    padding-top: 27px;
    margin-bottom: 252px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    line-height: normal;
}
.header__wrap {
    display: flex;
}

.header__menu li {
    display: inline-block;
    color: #FFF;
}
.header__menu li a {
    margin-left: 50px;
    text-decoration: none;
    transition: all .07s;
    color: #FFF;
}
.header__menu li a:hover {
    color: #1BFF07;
}
/*+ 1 блок хэдер*/
.hero {
    height: 765px;
    background-image: url(../resources/header-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero__wrapper {
    margin-bottom: 29px;
    width: 430px;
    height: 103px;
}
.hero__text { 
    padding-bottom: 29px;
    width: 430px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #FFF;
}
.hero__title {
    width: 919px;
    padding-bottom: 94px;
    line-height: normal;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 87.5% */
    letter-spacing: -2.4px;
    color: #1BFF07;
}
/*+ 2  блок проекты*/
.project {
    padding-top: 150px;
    padding-bottom: 150px;
}
.project__title {
    margin-bottom: 30px;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.65px;
    color: #FFF;
}
.project__container {
    padding-bottom: 80px;
    margin: 0 auto;
}

.project__item {
    width: 1150px;
    height: 550px;
    position: relative;
    display: block;
}
.project__img {
    position: absolute;
    width: 1150px;
    height: 550px;
    background-size: contain;
    background-repeat: no-repeat;
}
.project__name {
    top: 313px;
    left: 50px;
    position: relative;
    width: 401px;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.05px;
    color: #FFF;
}
.project__description {
    top: 317px;
    left: 50px;
    position: relative;
    width: 506px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    color: #FFF;
}
.project__btn {
    padding: 56px;
    width: 582px;
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.9px;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    border: 1px solid #1BFF07;
    color: #000;
    background-color: #1BFF07;
}
.project__btn:hover {
    color: #1BFF07;
    border: 1px solid #1BFF07;
    background-color: #000;
}
/*+Блок 3 - компетенции*/
.competence {
   
    padding-bottom: 110px
}
.competence__container {
    width: 100%;
    margin: 0 auto;
    max-width: cover;
    background: cover;
}
.competence__title-main {
    margin-bottom: 80px;
    width: 1048px;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.65px;
    color: #FFF;
 }
 .competence__item {
    margin-bottom: 60px;
 }
 .competence__title:nth-child(3){
    margin-bottom: 46px;
 }
 .competence__title {
    margin-bottom: 15px;
    position: relative;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.05px;
    color: #1BFF07;
 }
 .competence__item:nth-child(4) .competence__title { 
    width: 651px; 
  }
 .competence__ic {
    margin-bottom: 15px;
    bottom: 50px;
    width: 45px;
    height: 44px;
}
 .competence__text {
    width: 778px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.66px;
    color: #FFF;
 }
 .service {
    margin-bottom: 110px;
 }
.service__box {
    margin-bottom: 74px;
    grid-gap:20px;
    padding: 40px;
    box-sizing: border-box;
    width: 1150px;
    border-radius: 30px;
    background-color: #191C19;
}
.service__title-main {
    width: 403px;
    margin: 0 5px;
    margin-bottom: 80px;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.05px;
    color: #FFF;
 }
 .service__img {
    width: 1150px;
    height: 200px;
 }
 .service__title {
    padding-bottom: 15px;
    width: 1048px;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 60.5px */
    letter-spacing: -1.65px;
    color: #1BFF07;
 }
 .service__text {
    width: 724px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.66px;
    color: #FFF;
 }
 .contacts {
    margin-bottom: 150px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 717px;
    border-radius: 30px;
    background-color: #191C19;
 }
.contacts__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 717px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.contacts__container {
    
    bottom: 50px;
}
.contacts__menu {
    position: absolute;
    bottom: 80px;
}
.contacts__title {
    padding-bottom: 28px;
    font-size: 35px;
    vertical-align: middle;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 171.429% */
    letter-spacing: -1.05px;
    color: #FFF;
}
.contacts__contact {
    padding-bottom: 20px;
}
.contacts__link {
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 100% */
    letter-spacing: -1.8px;
    color: #FFF;
}
.contacts__link:hover {
    color:#1BFF07;
    text-decoration: none;
}
.footer {
    padding: 76px 0 30px; 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-family: 'Manrope', sans-serif;
    background-color: #FFF;
    width: 100%;
    padding-bottom: 30px;
}
.footer__menu {
    font-size: 18px;
    letter-spacing: -0.54px;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    line-height: normal;
    transition: all 07s;
    color: #121212;
}
.footer__menu li+li {
    padding-top: 66px;
}
.footer__menu li a {
    text-decoration: none;
    transition: all .07s;
    color: #000;
}
.footer__menu li a:hover {
    opacity: 50%;
}
.footer__security {
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    opacity: 0.5;
    text-decoration: none;
    color: #000;
}